<ng-container>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Ações
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Todo.name
                </td>
                <td>
                    <button class="btn btn-outline-info">Edit</button>
                    &nbsp;
                    <button class="btn btn-outline-danger">Delete</button>
                </td>
                <td>
                    <input type="checkbox"/>
                </td>
            </tr>
        </tbody>

    </table>
</ng-container>